

* 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body 
{
    background-color: #d9dcd6;
}
/* Header with my name, and nav bar justified to the right */
.header 
{
    width:100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(315deg, #0abcf9 0%, #fffb96 74%);
    color: #ffffff;
    position: absolute;
}

.header h1
{
    margin-left:10px;
    display: flex;
    flex-direction: row;
    font-size: 48px;
}

.description
{

    justify-content: center;
    text-align: center;
}

/*Subheader  with gradient background */
.subhead 
{
    width:100%;
    display: inline;
}

.subhead1 .subhead2
{
    position:relative;
    width: 49%
}

/*Absolutely positioned subheader text at bottom right of the subheader container */

.msu-list
{
    list-style-type: none;
    display: inline-flex;
    align-content: space-between;
}
body 
{
    background-color: #d9dcd6;
}






    /*
Absolutely positioning Card Text at the bottom right of the Work Cards
    */
.Card-Text
{
    position:absolute;
    bottom: 20px;
    right: 30px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px, 1px, 2px, gray;
    color: white;
    font-size: 24px;
}
.footer 
{
    padding: 10px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    background: linear-gradient(315deg, #0abcf9 0%, #fffb96 74%);
}
.jumbotron_main {
    text-align: center;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 10px solid black;
    color: white;
    background-image: url("img/alttpmap.jpg");
    background-size: cover;
    height: 50vh;
    position: relative;
}

.jumbotron_main h1{
    font-weight: bold;
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    padding-top: 5%;
}

.subhead-text
  {
      position:absolute;
      bottom: 80px;
      right: 40px;
      font-weight: bold;
      font-style: italic;
      text-shadow: 12px, 12px, gray;
      font-size: 18px;
  }
   
  footer a
      {
          text-decoration: none;
      }

.description a
      {
          color: blue;
      }
.description
      {
          margin-left:5px;
      }

.msu-container
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: #d9dcd6;
    
}
.msu-container-right
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
   
    
}

.msu-card
{
    border-radius: 60px;
}

.msu-card-jfg
    {
    position: relative;
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url("img/jfg.jpg");
    margin-bottom: 10px;
    background-size: cover;
    min-height: 400px;
    }

.msu-card-jfg
    {
    filter: brightness(80%);
    -webkit-filter: brightness(80%)
    }
    
.msu-card-jfg:hover{
    cursor: pointer;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    }

.msu-card:hover{
    flex: 0 0 55%;
}

.card
    {
    flex: 0 0 40%;    
    }

 @media screen and (max-width: 992px) {
    .card
    {
        flex: 1 1 100%;    
    }
    .msu-card:hover
    {
        flex: 1 1 100%
    }
}

.jfg_text
    {
        background-color: #d9dcd6;
        border:none;
    }

.pss_text
    {
        background-color: #d9dcd6;
        border:none;

    }
.wr64_text
{
    background-color: #d9dcd6;
    border:none;

}
.q64_text
{
    background-color: #d9dcd6;
    border:none;

}

.msu-card-pss
    {
    position: relative;
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image:url("img/pss.jpg");
    background-size: cover;
    margin-bottom: 10px;
    min-height: 400px;
    }

.msu-card-pss
    {
    filter: brightness(80%);
    -webkit-filter: brightness(80%)
    }
    
.msu-card-pss:hover{
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    }

    .sf64_text
    {
        background-color: #d9dcd6;
        border:none;
    }

.msu-card-sf64
    {
    position: relative;
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image:url("img/sf64.jpg");
    background-size: cover;
    margin-bottom: 10px;
    min-height: 350px;
    }

.msu-card-sf64
    {
    filter: brightness(80%);
    -webkit-filter: brightness(80%)
    }
    
.msu-card-sf64:hover{
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    }

.pd64_text
    {
        background-color: #d9dcd6;
        border:none;
    
    }

.msu-card-pd64
    {
    position: relative;
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image:url("img/pd64.jpg");
    background-size: cover;
    margin-bottom: 10px;
    min-height: 350px;
    }

.msu-card-pd64
    {
    filter: brightness(80%);
    -webkit-filter: brightness(80%)
    }
    
.msu-card-pd64:hover{
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    }

.pd-card-text
{
    position:absolute;
    bottom: 20px;
    right: 30px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 12px, 12px, gray;
    color: white;
    font-size: 24px;
}

a:hover{
    cursor: pointer;
}

footer h2
{
    padding: 10px;
    width:100%;
    position: relative;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    color:white;
    background: linear-gradient(315deg, #0abcf9 0%, #000096 74%);
}

footer a
    {
        text-decoration: none;
    }

.msu-card-wr64
    {
    position: relative;
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image:url("img/wr64.png");
    background-size: cover;
    margin-bottom: 10px;
    min-height: 350px;
    }

.msu-card-wr64
    {
    filter: brightness(80%);
    -webkit-filter: brightness(80%)
    }
    
.msu-card-wr64:hover{
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    }

.msu-card-wr64 .Card-Text{
    right: 50px;
    bottom: 10px;
}

.msu-card-ts
    {
    position: relative;
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image:url("img/ts.jpg");
    background-size: cover;
    margin-bottom: 10px;
    min-height: 350px;
    }

    .ts-card-text
    {
        position:absolute;
        bottom: 20px;
        right: 30px;
        font-weight: bold;
        font-style: italic;
        text-shadow: 12px, 12px, gray;
        color: white;
        font-size: 24px;
    }    

    .msu-card-ts:hover{
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
        -webkit-transition: all 1s ease;
    }

    .msu-card-q64
    {
    position: relative;
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image:url("img/q64.jfif");
    background-size: cover;
    margin-bottom: 10px;
    min-height: 350px;
    }

.msu-card-q64
    {
    filter: brightness(80%);
    -webkit-filter: brightness(80%)
    }
    
.msu-card-q64:hover{
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    }

.msu-card-q64 .Card-Text{
    right: 80px;
    bottom: 10px;
}

.msu-card-twc
    {
    position: relative;
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image:url("img/weather_card.JPG");
    background-size: cover;
    margin-bottom: 10px;
    min-height: 350px;
    }

    .twc-card-text
    {
        position:absolute;
        bottom: 20px;
        right: 30px;
        font-weight: bold;
        font-style: italic;
        text-shadow: 12px, 12px, gray;
        color: white;
        font-size: 24px;
    }    

    .msu-card-twc:hover{
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
        -webkit-transition: all 1s ease;
    }

    .msu-card-lmtrilogy
    {
    position: relative;
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image:url("img/luigi.jpg");
    background-size: cover;
    margin-bottom: 10px;
    min-height: 350px;
    }

    .lmt_text
    {
        position:absolute;
        bottom: 20px;
        right: 30px;
        font-weight: bold;
        font-style: italic;
        text-shadow: 12px, 12px, gray;
        color: white;
        font-size: 24px;
    }    

    .msu-card-lmtrilogy:hover{
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
        -webkit-transition: all 1s ease;
    }

.msu-card-toreborn {
    position: relative;
    background: #4AC29A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url("img/toreborn.jpg");
    background-size: cover;
    margin-bottom: 10px;
    min-height: 350px;
}

.toreborn_text {
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 12px, 12px, gray;
    color: white;
    font-size: 24px;
}

.msu-card-toreborn:hover {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
}

.msu-card-winter {
    position: relative;
    background: #4AC29A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url("img/winter.jpg");
    background-size: cover;
    margin-bottom: 10px;
    min-height: 350px;
}

.winter_text {
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 12px, 12px, gray;
    color: white;
    font-size: 24px;
}

.msu-card-winter:hover {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
}